/* WelcomeComponent.css */
.welcome-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; /* Adjust flex direction for horizontal centering */
    height: 87vh; /* Adjusted height to 87vh */
    background-image: url('/src/assets/img/Welcomebg.jpg'); /* Add your background image URL */
    background-size: cover;
    background-position: center;
    padding: 20px;
  }
  
  .welcome-left {
    flex: 0.35; /* Adjusted flex value for welcome-left */
    padding: 20px;
  }
  
  .welcome-left h1 {
    font-size: 48px;
    color: #222;
  }
  
  .lines {
    background-color: #007bff;
    height: 3px;
    margin: 10px 0;
  }
  
  .welcome-left p {
    font-size: 24px;
    color: #333;
  }
  
  .welcome-right {
    flex: 0.25; /* Adjusted flex value for welcome-right */
    padding: 20px;
  }
  
  .welcome-right ul {
    list-style: none;
    padding: 0;
  }
  
  .welcome-right li {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Add styles for the bottom text */
  .bottom-text {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 160px;
    
  }
  
  .bottom-text p {
    font-size: 18px;
    color: #666;
  }
  @media (max-width: 768px) {
    .welcome-container {
      background-image: none; /* Remove the background image */
      background-color: #f2f2f2; /* Add a background color */
    }
  }  